<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.phora.aeondroid" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".AeonDroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName" >
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/AppName"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/Title.Activity.Settings"
            android:theme="@style/AppTheme" >
        </activity>

        <service
            android:name=".workers.AeonDroidService"
            android:enabled="true" />

        <activity
            android:name=".activities.OrbsActivity"
            android:label="@string/Title.Activity.Orbs"
            android:parentActivityName=".activities.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.phora.aeondroid.activities.SettingsActivity" />
        </activity>
        <activity
            android:name=".activities.TriggersActivity"
            android:label="@string/Title.Activity.Triggers"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.phora.aeondroid.activities.MainActivity" />
        </activity>
    </application>

</manifest>
